<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<title>Melee - Brainstorming done right</title>
	
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" charset="utf-8">

	<%= erb :'partials/start' %>
	<%= erb :'partials/idea' %>
	<%= erb :'partials/idea_list' %>
	<%= erb :'partials/ideate' %>
	<%= erb :'partials/cluster' %>
	<%= erb :'partials/cluster_list' %>
	<%= erb :'partials/clusterate' %>
	<%= erb :'partials/prioritize' %>
	<%= erb :'partials/export' %>
	<%= erb :'partials/clustered_result_cluster' %>
	<%= erb :'partials/clustered_result_list' %>
	<%= erb :'partials/user' %>
	<%= erb :'partials/message' %>

</head>

<body>
	<nav>
		<span id="menu_ideate">
			Ideate
			<div class="arrow"><!-- --></div>
		</span>
		<span id="menu_cluster">
			Cluster
			<div class="arrow"><!-- --></div>
		</span>
		<span id="menu_prioritize">
			Prioritize
			<div class="arrow"><!-- --></div>
		</span>
		<span id="menu_export">
			Export
			<div class="arrow"><!-- --></div>
		</span>
		<span id="menu_collaborate">Team chat<span id="notification_badge">0</span></span>
	</nav>
	<div id="chat">
		<div class="modal"></div>
		<div id="change_nickname">
			<label>Choose a nickname:</label><br/>
			<input type="text" placeholder="Anonymous" />
		</div>
		<div id="users"></div>
		<div id="messages"></div>
		<div id="chat_input">
			<div class="arrow"></div>
			<textarea id="textarea_chat" placeholder="type a message"></textarea>
		</div>
	</div>
	<div id="melee"></div>
	<script src="http://<%= SOCKET_IO_HOST %>/socket.io/socket.io.js"></script>
	<script src="/js/vendor/jquery-1.6.2.min.js"></script>
	<script src="/js/vendor/jquery-ui-1.8.14.custom.min.js"></script>
	<script src="/js/vendor/blind_with_stepping.js"></script>
	<script src="/js/vendor/jquery.ui.touch.js"></script>
	<script src="/js/vendor/underscore.js"></script>
	<script src="/js/vendor/backbone.js"></script>
	<!-- MELEE -->
	<script src="/js/app/models/socket.js"></script>
	<script src="/js/app/models/session.js"></script>
	<script src="/js/app/models/idea.js"></script>
	<script src="/js/app/models/idea-list.js"></script>
	<script src="/js/app/models/cluster.js"></script>
	<script src="/js/app/models/cluster-list.js"></script>
	<script src="/js/app/models/message.js"></script>
	<script src="/js/app/models/message-list.js"></script>
	<script src="/js/app/models/user.js"></script>
	<script src="/js/app/models/user-list.js"></script>
	<script src="/js/app/models/vote.js"></script>
	<script src="/js/app/models/vote-list.js"></script>
	<script src="/js/app/views/idea.js"></script>
	<script src="/js/app/views/idea-list.js"></script>
	<script src="/js/app/views/cluster.js"></script>
	<script src="/js/app/views/cluster-list.js"></script>
	<script src="/js/app/views/clustered-result-list.js"></script>
	<script src="/js/app/views/message.js"></script>
	<script src="/js/app/views/message-list.js"></script>
	<script src="/js/app/views/user.js"></script>
	<script src="/js/app/views/user-list.js"></script>
	<script src="/js/app/routes/session.js"></script>
	<script src="/js/app/routes/ideate.js"></script>
	<script src="/js/app/routes/cluster.js"></script>
	<script src="/js/app/routes/prioritize.js"></script>
	<script src="/js/app/routes/export.js"></script>
	<script src="/js/app/routes/chat.js"></script>
	<script src="/js/app/routes/router.js"></script>
	<script>
		$(function() {
			window.melee = new Melee(<%= yield %>);
			Backbone.history.start({pushState : true});
		});
	</script>
</body>
</html>
